/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


html, body{
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
    height: 100%;
}

a{
    color: #fff;
    text-decoration: none;
}
a:hover, a:active{
    color: #a14b4b;
}

mat-sidenav-content, mat-sidenav-container, mat-sidenav{
    height: 100%;
}
mat-sidenav{
    width: 270px;
}